h1 {
  text-align: center;
  font-family: Avenir;
  font-size: 48px;
}

body {
	font-family: Avenir;
}

span {
  display: block;
}

svg {
  margin-left: 15px;
}

div.tooltip {
  position: absolute;
  text-align: center;
}

#legend {
  text-align: center;
}

#wrapper {
	clear:both;
}

#graph1 {
  float:left;
  padding-left: 5%;
}

#graph2{
	float:right;
	padding-right: 5%;
}

#chart1 {
	float: left;
  padding-left: 12.5%;
  text-align: center;
}

#chart2 {
	float: right;
  padding-right: 12.5%;
  text-align: center;
}


